#name {
    font: 'arial';
    font-size: 48px;
    justify-content: center;
}

.nameContainer {
    display: inline-block;
    padding-top: 35px;
    vertical-align: top;
}

img {
    width: 200px;
    border-radius: 50%;
}

.pfp {
    display: inline-block;
}

button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}

