* {
    padding: 0;
    margin: 0;
    color: black;
}

#header{
    position:fixed;
    width:100%;
    height: 8vh;
    background: #f38327;
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

#header div a{
    font-size: 7vh;
    color: white;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#header #search-bar{
    background-color: white;
    color: black;
    padding: 12px;
    width: 700px;
    height: 6vh;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

#header .header-element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper {
    width: 75%;
    padding: 50px;
    padding-top: 150px;
    margin: 1 auto;
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "pic desc"
      "soc desc"
      ".   desc"
}
.pic { grid-area: pic; }
.desc { grid-area: desc; }
.extra { grid-area: extra; }
#addSocial { grid-area: soc; }

img {
    width: 200px;
    border-radius: 50%;
}

.pfp {
    display: inline-block;
}

button {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    padding: 4px 7px;
}

.social-container {
    display: inline-block;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 4px 2px;
    border: 2px solid orange;
}

.social-container span {
    margin-right: 5px;
}

textarea {
    resize: none;
}
